{% block _product_review_list_widget %}
    {% if is_granted('frontend_review_view') %}
        {% if productRating is defined and productRating is not null %}
            {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
            {% include 'OroDataGridBundle:js:toolbar.html.twig' %}

            {{ dataGrid.renderGrid('frontend-product-review-list', {'productId': productId}) }}
        {% else %}
            <p>{{ 'smile.product_review.widget.empty'|trans }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
